@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e7f6f2;
  font-size: 24px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #395b64;
  border: 2px solid black;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin: 25px 0;
}

.sidebar {
  align-self: center;
  background-color: #a5c9ca;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px, -5px -5px 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  text-align: left;
  width: 300px;
  height: 400px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar h3 {
  border-bottom: 2px solid black;
  text-align: center;
}

.scoreboard,
.game-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-results {
  margin-top: 50px;
}

.sidebar-container button {
  color: black;
  align-self: center;
  margin-top: 25px;
  font-size: 24px;
  width: 150px;
}

.game-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.btn-container,
.result-container {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px, -5px -5px 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  padding: 15px;
}

.btn-container {
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.result-container {
  gap: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
}

button:hover {
  background-color: #395b64;
  color: #e7f6f2;
}

.main-btn {
  width: 100px;
  height: 100px;
}

.main-btn:hover {
  background-color: #395b64;
  width: 115px;
  height: 115px;
}

footer {
  background-color: #395b64;
  text-align: center;
  font-size: 24px;
  color: #e7f6f2;
  height: 75px;
  padding: 25px;
}

a {
  color: #e7f6f2;
  text-decoration: none;
}

i {
  color: black;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }

  header {
    font-size: 16px;
  }

  .sidebar {
    width: 400px;
    height: 260px;
  }

  .sidebar-container {
    flex-direction: row;
  }

  .game-card-wrapper {
    gap: 25px;
  }

  footer {
    padding: 15px;
    height: 50px;
  }
}
