@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #a5c9ca;
  height: 100vh;
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
}

.scoreboard,
.game-results {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
}

.game-results button {
  align-self: center;
  max-width: 100px;
}

.wrapper {
  background-color: #e7f6f2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  padding-bottom: 15px;
}

.wrapper header {
  background-color: #395b64;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.result {
  text-align: center;
}

.restart {
  max-width: 100px;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column-reverse;
  }

  .sidebar {
    height: 225px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
